{% extends "base/main.html" %}

{% block content %}
<style>
    .changepassword{
        margin-left: auto;
        margin-right: auto;
        width: 20em
    }
</style>

<div class='changepassword'>
<form method='POST'>

    
    {% csrf_token %}
    <br>
    {{form.as_p}}<br>
    
    

    <button type="submit" class="btn btn-success"> change password </button>
    <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-secondary"> Go back</button></a><br><br>
</form>
</div>



{% endblock content %}